@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 222 11% 22%;

    --card: 240 100% 99%;
    --card-foreground: 222 11% 22%;

    --popover: 240 100% 99%;
    --popover-foreground: 222 11% 22%;

    --primary: 225 45% 28%;
    --primary-foreground: 240 100% 99%;

    --secondary: 255 100% 93%;
    --secondary-foreground: 222 11% 22%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 226 48% 20%;
    --accent-foreground: 240 100% 99%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 240 100% 99%;

    --border: 255 100% 93%;
    --input: 255 100% 93%;
    --ring: 225 45% 28%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 11% 22%;
    --foreground: 240 100% 99%;

    --card: 222 11% 22%;
    --card-foreground: 240 100% 99%;

    --popover: 222 11% 22%;
    --popover-foreground: 240 100% 99%;

    --primary: 225 45% 28%;
    --primary-foreground: 240 100% 99%;

    --secondary: 255 100% 93%;
    --secondary-foreground: 222 11% 22%;

    --muted: 240 5% 26%;
    --muted-foreground: 240 5% 65%;

    --accent: 226 48% 20%;
    --accent-foreground: 240 100% 99%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 240 100% 99%;

    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 255 100% 93%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
